<ActionBar title="Detalhe"  class="action-bar bg-primary text-light">
  <NavigationButton text="Back" android.systemIcon="ic_ab_back_material_dark"></NavigationButton>
</ActionBar>

<ScrollView class="bg-light" height="100%">
  <GridLayout rows="*,auto">
    <GridLayout row="0" rows="auto,*,auto,*,*,*" paddingBottom="60" marginLeft="16" marginRight="16" marginTop="16">
      <Label
        row="0"
        text="SITUAÇÃO"
        class="text-bold m-y-10"
        fontSize="16"
        textWrap="true"
        paddingBottom="16"
      ></Label>

      <GridLayout shadow="2" row="1" rows="*,auto" columns="*,auto" padding="16">
        <Label padding="8" row="0" col="0" text="Status" textWrap="true" fontSize="16"></Label>
        <Label padding="8" row="0" col="1" fontSize="16" text="Autorizado" color="#0022ee" class="text-bold" textWrap="true"></Label>
      </GridLayout>

      <Label
        row="2"
        text="COMPRA"
        class="text-bold m-y-10"
        fontSize="16"
        textWrap="true"
        paddingTop="16"
      ></Label>
      <GridLayout shadow="2" row="3" rows="*,auto,*,auto,*" columns="*,auto" padding="16">
        <Label padding="8" row="0" col="0" text="Valor" textWrap="true" fontSize="16"></Label>
        <Label padding="8" row="0" col="1" fontSize="16" text="-R$39,40"  class="text-bold text-danger" textWrap="true"></Label>
        <StackLayout padding="8" row="1" col="0" colSpan="2" class="hr-light"> </StackLayout>
        <Label padding="8" row="2" col="0" text="Plano" textWrap="true" fontSize="16"></Label>
        <Label padding="8" row="2" col="1" fontSize="16" text="Pré Pago"  class="text-bold text-danger" textWrap="true"></Label>
        <StackLayout padding="8" row="3" col="0" colSpan="2" class="hr-light"> </StackLayout>
        <Label padding="8" row="4" col="0" text="Condição de Pgto." textWrap="true" fontSize="16"></Label>
        <Label padding="8" row="4" col="1" fontSize="16" text="À Vista"  class="text-bold text-danger" textWrap="true"></Label>
       
      </GridLayout>

      <Label
        row="4"
        text="ESTABELECIMENTO COMERCIAL"
        class="text-bold m-y-10"
        fontSize="16"
        textWrap="true"
        paddingTop="16"
      ></Label>
      <GridLayout shadow="2" row="5" rows="*,auto,*,auto,*" columns="*,auto" padding="16">
        <Label padding="8" row="0" col="0" text="Registro" textWrap="true" fontSize="16"></Label>
        <Label padding="8" row="0" col="1" fontSize="16" text="29.687.531-86"  class="text-bold" textWrap="true"></Label>
        <StackLayout padding="8" row="1" col="0" colSpan="2" class="hr-light"> </StackLayout>
        <Label padding="8" row="2" col="0" text="Celular" textWrap="true" fontSize="16"></Label>
        <Label padding="8" row="2" col="1" fontSize="16" text="+55 21 98815-2861"  class="text-bold " textWrap="true"></Label>
       
      </GridLayout>

    </GridLayout>
  </GridLayout>
</ScrollView>
