<ActionBar title="Detalhe" class="action-bar bg-primary text-light">
  <NavigationButton
    text="Back"
    (tap)="goBack()"
    android.systemIcon="ic_ab_back_material_dark"
  ></NavigationButton>
</ActionBar>

<ScrollView class="bg-light" height="auto">
  <GridLayout rows="*,*">
    <GridLayout
      row="0"
      rows="auto,*,auto,*,*,*,*"
      paddingBottom="60"
      marginLeft="16"
      marginRight="16"
      marginTop="16"
    >
      <Label
        row="0"
        text="SITUAÇÃO"
        class="text-bold m-y-10"
        fontSize="16"
        textWrap="true"
        paddingBottom="16"
      ></Label>

      <GridLayout
        shadow="2"
        row="1"
        rows="*,auto,*"
        columns="*,auto"
        padding="16"
      >
        <Label
          padding="8"
          row="0"
          col="0"
          text="Status"
          textWrap="true"
          fontSize="16"
        ></Label>
        <Label
          padding="8"
          row="0"
          col="1"
          fontSize="16"
          [text]="getTransactionName(transaction.status)"
          [color]="getTransactionStatusColor(transaction.status)"
          class="text-bold"
          textWrap="true"
        ></Label>
        <StackLayout
          *ngIf="
            transaction.status === transactionStatus.DENIED ||
            transaction.status === transactionStatus.CANCELLED
          "
          class="hr-light"
          row="1"
          col="0"
          colSpan="2"
        >
        </StackLayout>
        <Label
          padding="8"
          *ngIf="
            transaction.status === transactionStatus.DENIED ||
            transaction.status === transactionStatus.CANCELLED
          "
          row="2"
          col="0"
          fontSize="16"
          text="Motivo"
          class="text-bold"
          textWrap="true"
        ></Label>

        <StackLayout
          *ngIf="
            transaction.status === transactionStatus.DENIED ||
            transaction.status === transactionStatus.CANCELLED
          "
          padding="8"
          row="2"
          col="1"
        >
          <Label
            fontSize="16"
            [text]="transaction.reasonCode || 'TXT-0000'"
            class="text-bold"
            textWrap="true"
          ></Label>
          <Label
            fontSize="16"
            text="Definir texto de cada reasonCode"
            textWrap="true"
          ></Label>
        </StackLayout>
      </GridLayout>

      <Label
        row="2"
        [text]="transactionType.toUpperCase()"
        class="text-bold m-y-10"
        fontSize="16"
        textWrap="true"
        paddingTop="16"
      ></Label>
      <GridLayout
        shadow="2"
        row="3"
        rows="*,auto,*,auto,*"
        columns="*,auto"
        padding="16"
      >
        <Label
          padding="8"
          row="0"
          col="0"
          text="Valor"
          textWrap="true"
          fontSize="16"
        ></Label>
        <Label
          padding="8"
          row="0"
          col="1"
          fontSize="16"
          [text]="
            transaction.planType === 'Credit'
              ? '-' + (transaction.amount | currency: 'BRL':'symbol')
              : (transaction.amount | currency: 'BRL':'symbol')
          "
          [class]="
            transaction.planType === 'Credit'
              ? 'text-bold text-danger'
              : 'text-bold'
          "
          textWrap="true"
        ></Label>
        <StackLayout padding="8" row="1" col="0" colSpan="2" class="hr-light">
        </StackLayout>
        <Label
          padding="8"
          row="2"
          col="0"
          text="Plano"
          textWrap="true"
          fontSize="16"
        ></Label>
        <Label
          padding="8"
          row="2"
          col="1"
          fontSize="16"
          [text]="transaction.planType === 'Prepaid' ? 'Pré-Pago' : 'Pós-Pago'"
          class="text-bold"
          textWrap="true"
        ></Label>
        <StackLayout padding="8" row="3" col="0" colSpan="2" class="hr-light">
        </StackLayout>
        <Label
          padding="8"
          row="4"
          col="0"
          text="Condição de Pgto."
          textWrap="true"
          fontSize="16"
        ></Label>
        <Label
          padding="8"
          row="4"
          col="1"
          fontSize="16"
          [text]="transaction.planType === 'Prepaid' ? 'A Vista' : 'Crédito'"
          class="text-bold"
          textWrap="true"
        ></Label>
      </GridLayout>

      <Label
        *ngIf="!isDeposit"
        row="4"
        [text]="
          transaction.type === 'Transfer'
            ? 'Conta Destino'
            : 'ESTABELECIMENTO COMERCIAL'
        "
        class="text-bold m-y-10"
        fontSize="16"
        textWrap="true"
        paddingTop="16"
      ></Label>
      <GridLayout
        *ngIf="!isDeposit"
        shadow="2"
        row="5"
        rows="*,auto,*,auto,*"
        columns="*,auto"
        paddingLeft="16"
        paddingRight="16"
        paddingTop="16"
      >
        <Label
          padding="8"
          row="0"
          col="0"
          text="Registro"
          textWrap="true"
          fontSize="16"
        ></Label>
        <Label
          padding="8"
          row="0"
          col="1"
          fontSize="16"
          text="29.687.531-86"
          class="text-bold"
          textWrap="true"
        ></Label>
        <StackLayout padding="8" row="1" col="0" colSpan="2" class="hr-light">
        </StackLayout>
        <Label
          padding="8"
          row="2"
          col="0"
          text="Celular"
          textWrap="true"
          fontSize="16"
        ></Label>
        <Label
          padding="8"
          row="2"
          col="1"
          fontSize="16"
          text="+55 21 98815-2861"
          class="text-bold "
          textWrap="true"
        ></Label>
      </GridLayout>

      <Button
        row="6"
        *ngIf="transaction.status !== 'Cancelled'"
        id="btnCancel"
        (tap)="cancelTransaction()"
        text="Cancelar"
        class="btn btn-outline secondary"
        marginTop="32"
        height="50"
      ></Button>
    </GridLayout>
  </GridLayout>
</ScrollView>
