<ActionBar class="action-bar bg-primary text-light">
  <StackLayout
    orientation="horizontal"
    ios:horizontalAlignment="center"
    android:horizontalAlignment="left"
  >
    <Label
      text="Criar Conta"
      class="action-title"
      color="#ffffff"
      verticalAlignment="middle"
    ></Label>
  </StackLayout>
  <ActionItem ios.position="right" text="Sair" android.position="popup">
  </ActionItem>
</ActionBar>

<ScrollView class="bg-light">
  <GridLayout height="100%">
    <GridLayout
      padding="10"
      rows="auto,auto,auto,auto,auto,auto,*"
      columns="auto,*"
      [formGroup]="enrolForm"
    >
      <Label
        class="font-weight-bold m-y-10"
        text="Conta de Celular"
        row="0"
        col="0"
        colSpan="2"
      ></Label>

      <GridLayout
        row="1"
        col="0"
        columns="auto,*"
        class="form-conteiner"
        orientation="horizontal"
        colSpan="2"
      >
        <StackLayout row="0" col="0" class="form">
          <Label text="Informe a Operadora" class="m-y-5"></Label>
          <DropDown
            #dd
            class="dropdown"
            id="operator-list"
            (selectedIndexChanged)="selectNetworkOperator($event)"
            verticalAlignment="center"
          ></DropDown>
        </StackLayout>

        <StackLayout row="0" col="1" class="m-t-30">
          <TextFieldDocument
            [fieldId]="'phoneNumber'"
            [type]="'phone'"
            [className]="'form-control text-right'"
            [fieldHint]="'(**) *****-****'"
            name="phone"
            [returnKeyType]="'next'"
            formControlName="number"
          ></TextFieldDocument>
          <Label
            *ngIf="isSubmit && fc.number.errors && fc.number.errors.required"
            class="body text-danger text-right"
            fontSize="10"
            text="*Campo Obrígatório"
          ></Label>

          <Label
            *ngIf="
              isSubmit && fc.number.errors && fc.number.errors.invalidFormat
            "
            class="body text-danger text-right"
            fontSize="10"
            text="*Formato Inválido"
          ></Label>
        </StackLayout>
      </GridLayout>

      <Label
        class="font-weight-bold m-y-10"
        text="Documento"
        row="2"
        col="0"
        colSpan="2"
      ></Label>

      <GridLayout
        class="form-conteiner"
        orientation="horizontal"
        row="3"
        col="0"
        colSpan="2"
        columns="auto,*"
      >
        <StackLayout col="0" class="form">
          <Label text="Tipo de Documento" class="m-y-5"></Label>
          <DropDown
            #doc
            class="dropdown"
            id="doctype-list"
            (selectedIndexChanged)="selectDocumentType($event)"
            verticalAlignment="center"
          ></DropDown>
        </StackLayout>

        <StackLayout col="1" class="m-t-30">
          <TextFieldDocument
            verticalAlignment="center"
            [fieldId]="'documentNumber'"
            [type]="'cpf'"
            [className]="'form-control text-right'"
            [fieldHint]="'Documento'"
            name="document"
            [returnKeyType]="'next'"
            formControlName="value"
          ></TextFieldDocument>
          <Label
            *ngIf="isSubmit && fc.value.errors && fc.value.errors.required"
            class="body text-danger text-right"
            fontSize="10"
            text="*Campo Obrígatório"
          ></Label>
        </StackLayout>
      </GridLayout>

      <Label
        class="font-weight-bold m-y-10"
        text="Dados de Usuários"
        row="4"
        col="0"
        colSpan="2"
      ></Label>

      <StackLayout class="form-conteiner" row="5" col="0" colSpan="2">
        <TextField
          secure="true"
          class="input-field"
          hint="Senha"
          formControlName="password"
          id="password"
        ></TextField>
        <Label
          *ngIf="isSubmit && fc.password.errors && fc.password.errors.required"
          class="body text-danger text-right"
          fontSize="10"
          text="*Campo Obrígatório"
        ></Label>
        <TextField
          secure="true"
          class="input-field"
          hint="Confirme a Senha"
          id="confirmPassword"
          (textChange)="validPassword($event)"
          [(ngModel)]="confirmPassword"
          [ngModelOptions]="{ standalone: true }"
        ></TextField>

        <Label
          *ngIf="isSubmit && passwordMismatch"
          class="body text-danger text-right"
          fontSize="10"
          text="*As senha digitadas não são iguais"
        ></Label>
      </StackLayout>

      <FlexboxLayout
        justifyContent="center"
        class="m-t-10"
        alignItems="center"
        row="6"
        col="0"
        colSpan="2"
      >
        <button
          text="Salvar"
          (tap)="doEnroll()"
          class="btn btn-secondary"
          height="50"
          width="100%"
        ></button>
      </FlexboxLayout>
    </GridLayout>

    <StackLayout
      class="dimmer"
      visibility="{{ ($isLoading | async) ? 'visible' : 'collapsed' }}"
    ></StackLayout>
    <GridLayout
      columns="40,*"
      class="loading-container"
      rows="*"
      visibility="{{ ($isLoading | async) ? 'visible' : 'collapsed' }}"
    >
      <ActivityIndicator
        col="0"
        busy="true"
        verticalAlignment="center"
      ></ActivityIndicator>
      <Label
        class="font-weight-bold m-l-10"
        text="Aguarde..."
        col="1"
        verticalAlignment="center"
      ></Label>
    </GridLayout>
  </GridLayout>
</ScrollView>
