<ActionBar class="action-bar bg-primary text-light">
  <StackLayout
    orientation="horizontal"
    ios:horizontalAlignment="center"
    android:horizontalAlignment="left"
  >
    <Label
      text="Criar Conta"
      class="action-title"
      color="#ffffff"
      verticalAlignment="middle"
    ></Label>
  </StackLayout>
  <ActionItem ios.position="right" text="Sair" android.position="popup">
  </ActionItem>
</ActionBar>

<ScrollView>
  <GridLayout rows="*,*,*,*" marginLeft="16" marginRight="16">
    <StackLayout row="0">
      <Label
        text="CONTA DE CELULAR"
        marginBottom="16"
        marginTop="16"
        class="h3 text-muted text-bold"
        textWrap="true"
      ></Label>

      <GridLayout
        rows="*,*,*"
        paddingLeft="16"
        paddingRight="16"
        paddingTop="16"
        verticalAlignment="middle"
        shadow="4"
        marginBottom="16"
        orientation="horizontal"
      >
        <GridLayout row="0" rows="*,*" paddingTop="8" paddingBottom="8">
          <GridLayout
            row="0"
            columns="*,auto"
            (tap)="showMobileOperatorList($event, 'chevron-installment')"
          >
            <Label
              col="0"
              marginLeft="4"
              [text]="selectedOperator"
              [class]="
                isSubmit && !enrollFormErrors.operator.valid
                  ? 'text-danger'
                  : 'text-muted'
              "
              fontSize="16"
              textWrap="true"
            ></Label>
            <Image
              id="chevron-installment"
              col="1"
              src="res://baseline_chevron_left_black_24"
              width="24"
            ></Image>
          </GridLayout>

          <StackLayout row="1" paddingLeft="4" *ngIf="showOperatorList">
            <StackLayout class="hr-light" marginBottom="4"> </StackLayout>
            <Label
              (tap)="selectMobileOperator($event, 'Claro')"
              fontSize="16"
              text="CLARO"
              class="body"
              marginBottom="8"
              marginTop="4"
              textWrap="true"
            ></Label>
            <Label
              (tap)="selectMobileOperator($event, 'Oi')"
              fontSize="16"
              text="OI"
              class="body"
              marginBottom="8"
              textWrap="true"
            ></Label>
            <Label
              (tap)="selectMobileOperator($event, 'Tim')"
              fontSize="16"
              text="TIM"
              class="body"
              marginBottom="8"
              textWrap="true"
            ></Label>
            <Label
              (tap)="selectMobileOperator($event, 'Vivo')"
              fontSize="16"
              text="VIVO"
              class="body"
              marginBottom="8"
              textWrap="true"
            ></Label>
          </StackLayout>
        </GridLayout>

        <StackLayout row="1" class="hr-light" marginBottom="8" marginTop="8">
        </StackLayout>

        <TextFieldDocument
          [id]="'phoneNumber'"
          row="2"
          keyboardType="phone"
          #phone="ngModel"
          [type]="'phone'"
          [class]="
            phone.invalid && isSubmit
              ? 'input-transaction error'
              : 'input-transaction'
          "
          hint="Insira o DDD e o número de telefone"
          [required]="'required'"
          name="phone"
          [(ngModel)]="phoneNumber"
        ></TextFieldDocument>
      </GridLayout>
    </StackLayout>

    <StackLayout row="1">
      <Label
        text="DOCUMENTO"
        marginBottom="16"
        marginTop="16"
        class="h3 text-muted text-bold"
        textWrap="true"
      ></Label>

      <GridLayout
        rows="*,*,*"
        paddingLeft="16"
        paddingRight="16"
        paddingTop="16"
        verticalAlignment="middle"
        shadow="4"
        marginBottom="16"
        orientation="horizontal"
      >
        <GridLayout row="0" rows="*,*" paddingTop="8" paddingBottom="8">
          <GridLayout
            row="0"
            columns="*,auto"
            (tap)="showDocumentList($event, 'chevron-document')"
          >
            <Label
              col="0"
              marginLeft="4"
              [text]="selectDocument"
              [class]="
                isSubmit && !enrollFormErrors.documentType.valid
                  ? 'text-danger'
                  : 'text-muted'
              "
              fontSize="16"
              textWrap="true"
            ></Label>
            <Image
              id="chevron-document"
              col="1"
              src="res://baseline_chevron_left_black_24"
              width="24"
            ></Image>
          </GridLayout>

          <StackLayout row="1" paddingLeft="4" *ngIf="showDocument">
            <StackLayout class="hr-light" marginBottom="4"> </StackLayout>
            <Label
              (tap)="selectDocumentType($event, 'CPF')"
              fontSize="16"
              text="CPF"
              class="body"
              marginBottom="8"
              marginTop="4"
              textWrap="true"
            ></Label>
            <Label
              (tap)="selectDocumentType($event, 'CNPJ')"
              fontSize="16"
              text="CNPJ"
              class="body"
              marginBottom="8"
              textWrap="true"
            ></Label>
          </StackLayout>
        </GridLayout>

        <StackLayout row="1" class="hr-light" marginBottom="8" marginTop="8">
        </StackLayout>

        <TextFieldDocument
          [id]="'documentNumber'"
          [row]="2"
          [type]="documentType"
          [className]="
            !enrollFormErrors.documentNumber.valid && isSubmit
              ? 'input-transaction error'
              : 'input-transaction'
          "
          [required]="'required'"
          [hint]="'Digite o número do documento'"
          name="document"
          [(ngModel)]="documentNumber"
        ></TextFieldDocument>

        <!--  <TextField
          row="2"
          hint="DIGITE O NÚMERO DO DOCUMENTO"
          keyboardType="phone"
          name="document"
          required
          #document="ngModel"
          [(ngModel)]="documentNumber"
          [class]="document.invalid && isSubmit ? 'input-transaction error' : 'input-transaction'"
          text=""
        ></TextField> -->
      </GridLayout>
    </StackLayout>

    <StackLayout row="2">
      <Label
        text="SENHA"
        marginBottom="16"
        marginTop="16"
        class="h3 text-muted text-bold"
        textWrap="true"
      ></Label>

      <GridLayout
        rows="*,*,*"
        paddingLeft="16"
        paddingRight="16"
        paddingTop="16"
        verticalAlignment="middle"
        shadow="4"
        marginBottom="16"
        orientation="horizontal"
      >
        <TextField
          [(ngModel)]="password"
          row="0"
          secure="true"
          required
          hint="Digite sua senha"
          name="password"
          #pass="ngModel"
          [class]="
            pass.invalid && isSubmit
              ? 'input-transaction error'
              : 'input-transaction'
          "
          class="input-transaction"
          text=""
        ></TextField>

        <StackLayout row="1" class="hr-light" marginBottom="8" marginTop="8">
        </StackLayout>

        <TextField
          [(ngModel)]="confirmPassword"
          name="confirmPassword"
          required
          #confirm="ngModel"
          row="2"
          secure="true"
          hint="Confirme sua senha"
          class="input-transaction"
          [class]="
            (confirm.invalid || !enrollFormErrors.confirmPassword.valid) &&
            isSubmit
              ? 'input-transaction error'
              : 'input-transaction'
          "
          text=""
        ></TextField>
      </GridLayout>
    </StackLayout>

    <Button
      text="Criar Conta"
      class="btn btn-secondary text-light"
      (tap)="doEnroll()"
      [shadow]="btnShadow"
      marginTop="16"
      row="3"
    ></Button>
  </GridLayout>
</ScrollView>
