<GridLayout *ngIf="!showCheckout" class="bg-light" columns="*,40,*" paddingBottom="60">
  <FlexboxLayout col="0" flexDirection="column" class="border-sep"  height="100%" justifyContent="center" alignItems="center">
    <StackLayout class="scan-container">
      <label
        text="Escanei o código do estabelecimento"
        class="title-scan text-center"
        paddingBottom="10"
        paddingTop="20"
        horizontalAlignment="center"
        textWrap="true"
      ></label>
      <image src="res://scan" width="150"></image>
      <button (tap)="scanCode()" class="btn btn-primary" text="Escanear" width="150"></button>
      <Label [text]="hash" color="#212121" class="text-center" textWrap="true"></Label>
    </StackLayout>
  </FlexboxLayout>

  <FlexboxLayout flexDirection="column" height="100%" justifyContent="center" alignItems="center" col="1">
      <label
      text="OU"
      class="h3 text-bold text-secondary"
      textWrap="true"
    ></label>
  </FlexboxLayout>

  <FlexboxLayout flexDirection="column" height="100%" justifyContent="center" alignItems="center" col="2">
      <StackLayout class="form-container">
          <label
            text="Digite o telefone do estabelecimento"
            class="title-scan text-center"
            paddingBottom="10"
            textWrap="true"
          ></label>
      
          <StackLayout class="form-group">
            <TextField
              hint="EX:11 98815-2864"
              [(ngModel)]="establishmentPhone"
              name="phone"
              keyboardType="phone"
              class="text-center form-control"
            ></TextField>
            <button class="btn btn-light" (tap)="usePhoneNumber()" marginTop="40" text="Próximo" width="150"></button>
          </StackLayout>
        </StackLayout>
  </FlexboxLayout>
 
</GridLayout>

<GridLayout *ngIf="showCheckout" backgroundColor="#c8c8c8" paddingBottom="60">
  <StackLayout class="checkout-container">
    <label
      text="CHECKOUT"
      class="title-scan"
      padding="15"
      fontSize="20"
      horizontalAlignment="center"
      textWrap="true"
    ></label>

    <Label textWrap="true" paddingLeft="15" paddingBotom="10">
      <FormattedString>
        <Span fontWeight="bold" fontSize="16" text="Estabelecimento: "></Span>
        <Span fontSize="16" text="Estabelecimento ABC LTDA "></Span>
      </FormattedString>
    </Label>

    <Label textWrap="true" paddingLeft="15" paddingBottom="20">
      <FormattedString>
        <Span fontWeight="bold" fontSize="16" text="CNPJ: "></Span>
        <Span fontSize="16" text="20.506.980/0001-68"></Span>
      </FormattedString>
    </Label>

    <StackLayout class="form-group">
      <Label
        text="INFORME O VALOR"
        fontSize="20"
        fontWeight="300"
        marginBottom="15"
        class="text-center"
        textWrap="true"
      ></Label>
      <TextField
        hint="0,00"
        fontSize="22"
        [(ngModel)]="payValue"
        name="payValue"
        keyboardType="number"
        class="text-center form-control"
      ></TextField>

      <button
        class="btn btn-primary"
        (tap)="checkoutBuy()"
        marginTop="40"
        marginBottom="20"
        text="Pagar"
        width="150"
      ></button>

      <Label text="Cancelar" (tap)="backToScan()" class="cancel-btn" textWrap="true"></Label>
    </StackLayout>
  </StackLayout>
</GridLayout>
