<GridLayout height="60" verticalAlignment="bottom">
  <GridLayout columns="*,*,*,*,*" backgroundColor="#212121">
    <GridLayout #tabHighlight col="0" backgroundColor="#2233FF"></GridLayout>
    <GridLayout col="0" (tap)="selectTab(0)">
			<Image #image1 src="res://shopping" height="23" width="23"></Image>
		</GridLayout>
		<GridLayout col="1" (tap)="selectTab(1)">
			<Image #image2 src="res://wallet" height="25" width="25"></Image>
		</GridLayout>
		<GridLayout col="2" (tap)="selectTab(2)">
			<Image #image3 src="res://account" height="25" width="25"></Image>
		</GridLayout>
		<GridLayout col="3" (tap)="selectTab(3)">
			<Image #image4 src="res://transfer" height="25" width="25"></Image>
		</GridLayout>
		<GridLayout col="4" (tap)="selectTab(4)">
			<Image #image5 src="res://user" height="25" width="25"></Image>
		</GridLayout>
  </GridLayout>
</GridLayout>
