<GridLayout color="#fefefe" columns="*,80" height="80" class="bg-primary">
  <GridLayout *ngIf="!hideBalance" rows="*,*" columns="*,auto" col="0">
    <label text="Saldo Disponivel" row="0" col="0" class="balance-label" textWrap="true"></label>
    <label
      [text]="balance$ | async | currency: 'BRL':'symbol'"
      row="1"
      col="0"
      class="balance-value"
      textWrap="true"
    ></label>
  </GridLayout>

  <GridLayout
    (tap)="closeBalance()"
    [columns]="hideBalance ? 'auto,28' : '28,*'"
    class="bg-secondary"
    height="100%"
    [col]="hideBalance ? '0' : '1'"
    colSpan="2"
    verticalAlignment="center"
  >
    <StackLayout *ngIf="!hideBalance" height="100%" col="0" verticalAlignment="center" class="rotate-bar">
      <image src="res://back" width="24"></image>
    </StackLayout>

    <label
      *ngIf="!hideBalance"
      text="Ocultar"
      horizontalAlignment="center"
      verticalAlignment="center"
      col="1"
      textWrap="true"
    ></label>
    <label
      *ngIf="hideBalance"
      class="balance-label"
      text="Exibir Saldo"
      verticalAlignment="center"
      col="0"
      textWrap="true"
    ></label>

    <StackLayout *ngIf="hideBalance" height="100%" col="1" verticalAlignment="center" class="rotate-bar">
      <image src="res://next" horizontalAlignment="right" class="m-t-10" width="24"></image>
    </StackLayout>
  </GridLayout>
</GridLayout>
