@import '~nativescript-theme-core/scss/light';

// Customize any of the theme’s variables here, for instance $btn-color: red;

// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

@import '~nativescript-theme-core/css/core.light.css';
@import './colors';

.fab-button {
  height: 60;
  width: 60; /// this is required on iOS - Android does not require width so you might need to adjust styles
  margin: 15;
  background-color: #ff4081;
  horizontal-align: right;
  vertical-align: bottom;
  margin-bottom: 10px;
}

.gutters {
  margin: 16;
}
.action-title {
  font-size: 20;
  color: $light;
}

.btn {
  border-radius: 8;
  text-transform: uppercase;
}

.bg-primary {
  background-color: $principal;
}

.bg-secondary {
  background-color: $complementary;
}

.bg-success {
  background-color: $success;
}

.bg-light {
  background-color: lighten($light, 4%);
}

.bg-dark {
  background-color: $dark;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 800;
}

.text-primary {
  color: $principal;
}

.text-secondary {
  color: $complementary;
}

.text-success {
  color: $success;
}

.text-light {
  color: $light;
}

.text-dark {
  color: $dark;
}

.text-muted {
  color: $gray-light;
}

.text-complementary-dark {
  color: $complementary-dark;
}

.btn-primary {
  background-color: $principal;
  color: $light;
}

.btn-secondary {
  background-color: $complementary;
  color: $light;
}

.btn-light {
  background-color: #fff;
  color: #212121;
  font-weight: 300;
}

.secondary {
  border-color: $complementary;
  color: $complementary;
}

.thumbnail {
  border-radius: 50%;
  border-color: $secondary;
  background-color: $pink-light;

  &.sm {
    width: 56;
    height: 56;
  }

  &.lg {
    width: 80;
    height: 80;
  }
}

.card-list {
  padding: 8 16;
  border-radius: 4;
  height: auto;
}

.card {
  padding: 16;
  border-radius: 4;
  height: 110;
}

.card-title {
  font-size: 16;
}

.card-subtitle {
  font-size: 14;
}

.card-category {
  font-size: 10;
  text-transform: uppercase;
}

.dropdown {
  border-bottom-width: 1;
  border-color: $gray-light;
  font-size: 16;
  margin: 8;
}

.border-sep {
  border-width: 0, 1, 0, 0;
  border-color: $light;
}

.circle {
  width: 30;
  height: 30;
  border-radius: 50%;
  border-width: 1;
  border-color: $light;
  background-color: $gray-light;
}

.input-transaction {
  widows: 100%;
  border-bottom-width: 0;
  border-color: $light;
  text-align: right;
  margin-bottom: 4;
  font-size: 16;
}

.no-border {
  border-width: 0;
}

.btn-transaction {
  width: 80;
  height: 40;
  font-size: 12;
}

.link-label {
  font-size: 16;
  color: $pink;
}
.qr-code {
  text-decoration: underline;
}

.approved {
  width: 120;
  height: 120;
  border-radius: 100%;
  background-color: $greenSuccess;
}

.rejected {
  width: 120;
  height: 120;
  border-radius: 100%;
  background-color: $redError;
}

.error {
  color: $redError;
  placeholder-color: $redError;
}
