@import '~nativescript-theme-core/scss/sky';
@import './colors';
// Customize any of the theme’s variables here, for instance $btn-color: red;
$blue: #1e98d4;
$lightBlue: #54b7ce;
$orange: #f76b00;
$complementary: #d45b1e;

$primary: $blue;
$secondary: $gray;
// Import the theme’s main ruleset.
@import '~nativescript-theme-core/scss/index';

.fab-button {
  height: 60;
  width: 60; /// this is required on iOS - Android does not require width so you might need to adjust styles
  margin: 15;
  background-color: $complementary;
  horizontal-align: right;
  vertical-align: bottom;
}

.dimmer {
  background: rgba(0, 0, 0, 0.2);
  z-index: 99998;
  width: 100%;
  height: 100%;
}

.loading-container {
  z-index: 999999;
  padding: 5;
  width: 50%;
  height: 60;
  background-color: #ffffff;
  border-radius: 4;
}
.gutters {
  margin: 16;
}
.action-title {
  font-size: 20;
}

.bg-primary {
  background-color: $principal;
}

.bg-secondary {
  background-color: $complementary;
}

.bg-success {
  background-color: $success;
}

.bg-light {
  background-color: lighten($light, 4%);
}

.bg-dark {
  background-color: $dark;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-bold {
  font-weight: 800;
}

.text-primary {
  color: $principal;
}

.text-secondary {
  color: $complementary;
}

.text-success {
  color: $success;
}

.text-light {
  color: $light;
}

.text-dark {
  color: $dark;
}

.text-muted {
  color: $gray-light;
}

.text-complementary-dark {
  color: darken($complementary, 20%);
}

.text-danger {
  color: $error;
}

.btn-primary {
  background-color: $principal;
  color: $light;
}

.btn-secondary {
  background-color: $complementary;
  color: $light;
}

.btn-light {
  background-color: #fff;
  color: #212121;
  font-weight: 300;
}

.secondary {
  border-color: $complementary;
  color: $complementary;
}

.thumbnail {
  border-radius: 50%;
  border-color: lighten($complementary, 20%);
  background-color: $complementary;

  &.sm {
    width: 56;
    height: 56;
  }

  &.lg {
    width: 80;
    height: 80;
  }
}

.card-list {
  padding: 15 15;
  border-radius: 4;
  background-color: #ffffff;
}

.card {
  padding: 16;
  border-radius: 4;
  height: 120;
}

.card-title {
  font-size: 16;
}

.card-subtitle {
  font-size: 14;
}

.card-category {
  font-size: 10;
  text-transform: uppercase;
}

.dropdown {
  border-bottom-width: 1;
  border-color: $gray-light;
  font-size: 16;
  margin: 8;
}

.border-sep {
  border-width: 0, 1, 0, 0;
  border-color: $light;
}

.circle {
  width: 20;
  height: 20;
  border-radius: 50%;
  border-width: 1;
  border-color: $light;
  background-color: #e1e2e1;
  margin: 10;
}

.active {
  border-color: lighten($complementary, 20%);
  background-color: $complementary;
}

.input-transaction {
  widows: 100%;
  border-bottom-width: 0;
  border-color: $light;
  text-align: right;
  margin-bottom: 4;
  font-size: 16;
}

.no-border {
  border-width: 0;
}

.btn-transaction {
  width: 100;
  height: 40;
  font-size: 12;
}

.link-label {
  font-size: 16;
  color: $complementary;
}
.qr-code {
  text-decoration: underline;
}

.approved {
  width: 120;
  height: 120;
  border-radius: 100%;
  background-color: $greenSuccess;
}

.rejected {
  width: 120;
  height: 120;
  border-radius: 100%;
  background-color: $redError;
}

.error {
  color: $redError;
  placeholder-color: $redError;
}

.input {
  placeholder-color: #fff;
  color: #fff;
  padding-top: 15;
  padding-left: 5;
  width: 100%;
}

.with-bg-color {
  background: $principal;
}

.bordered {
  border-radius: 4;
}

.no-border-bottom {
  border-bottom-width: 0;
  border-bottom-color: red;
}

.form-control {
  width: 100%;
}
