<ActionBar class="action-bar">
  <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
    <Label [text]="actionTitle" class="action-title" verticalAlignment="middle"></Label>
  </StackLayout>
</ActionBar>

<GridLayout>
  <GridLayout rows="*,auto">
    <StackLayout row="0" class="bg-light">
      <router-outlet></router-outlet>
    </StackLayout>

    <StackLayout
      row="1"
      PimpoBottomBar
      [selectedTab]="tabSelected"
      dock="bottom"
      (tabSelected)="navigateToPage($event)"
    >
    </StackLayout>
  </GridLayout>
  <ns-loading [active]="$isLoading | async"></ns-loading>
</GridLayout>
