<ActionBar class="action-bar bg-primary text-light">
  <StackLayout orientation="horizontal" ios:horizontalAlignment="center" android:horizontalAlignment="left">
    <Label [text]="actionTitle" class="action-title h1" color="#ffffff" verticalAlignment="middle"></Label>
  </StackLayout>
  <ActionItem ios.position="right" text="Sair" android.position="popup"> </ActionItem>
</ActionBar>

<GridLayout rows="*,auto">
  <GridLayout row="0">
    <!-- <PimpoHeaderBar row="0" [username]="((userData$ | async)?.phones)[0].number"></PimpoHeaderBar> -->
    <StackLayout> <router-outlet></router-outlet> </StackLayout>
  </GridLayout>

  <PimpoBottomBar row="1" (tabSelected)="navigateToPage($event)"></PimpoBottomBar>
</GridLayout>
